.about{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 4rem 0 2rem 0;
}



.about .left{
    text-align: justify;
    margin: auto;
    max-width: 800px;
}

.about .left h1{
    text-align: center;
    color: #333;
}

.about .left p{
    margin: 1.2rem 0;
    text-align: center;
    color: #333;

}

.about .right{
    max-width: 500px;
}

.about .img-container{
  display: flex;
  align-items: center;
  text-align: center; 
  padding: 2rem; 

}

.right .img{
    max-width: 90%;
    border: 1px solid #333;
    height: 50vh;
    width: 100%;
}
